#custom-L2R-arrow {
  font-size: 2em;
}
#custom-L2R-arrow.one {
  font-size: 2em;
  color: @bg0;
  background: @bg1;
}
#custom-L2R-arrow.two {
  font-size: 2em;
  color: @bg1;
  background: @bg2;
}
#custom-L2R-arrow.three {
  font-size: 2em;
  color: @bg2;
  background: @bg3;
}

#custom-R2L-arrow {
  font-size: 2em;
  color: @bg;
  background: @bluetint;
}
#custom-R2L-arrow.one {
  font-size: 2em;
  color: @bg0;
  background: @bg1;
}
#custom-R2L-arrow.two {
  font-size: 2em;
  color: @bg1;
  background: @bg2;
}
#custom-R2L-arrow.three {
  font-size: 2em;
  color: @bg2;
  background: @bg3;
}
#custom-L2R-ramp {
  font-size: 2em;
  color: @bg3;
  background: @bgc;
}
#custom-L2R-ramp.inv {
  font-size: 2em;
  color: @bgc;
  background: @bg3;
}
#custom-R2L-ramp {
  font-size: 2em;
  color: @bg3;
  background: @bgc;
}
#custom-R2L-ramp.inv {
  font-size: 2em;
  color: @bgc;
  background: @bg3;
}
